*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* card 1 */

.big-container{
 width:1400px;
 height: 1700px;
 margin: 0 auto;
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 border: solid black 2px;
}

.container{
    height: 744px;
    width: 30%;
    margin: 0 auto;
    position: relative;
    padding-left: 10px;
    
}
.text{
    height: 93px;
    width: 445px;

}
.img{
    height: 651px;
    width: 445px;
    border: solid 1px black;
    background-image: url(../images/1.webp);
    background-size: cover;
    background-position: center;

}
.img:hover{
    background-image: url(../images/1b.webp);
}

.card-sale{
    height: 25px;
    width: 50px;
    background-color: red;
    display: inline-block;
    position: absolute;
    left:10px;
    bottom:18%;
    color: white;
    line-height: 25px;
    vertical-align: middle;
    text-align: center;
    font-weight: bold;

}
.card-sale-green{
    background-color: green;
    height: 25px;
    width: 100px;
    display: inline-block;
    color: white;
    position: absolute;
    bottom: 18%;
    left: 15%;
    line-height: 25px;
    vertical-align: middle;
    text-align: center;
    font-weight: bold;
}
.price{
    color: red;
    
    
}

.close-price{
    text-decoration: line-through;
}
/* card 2 */
.img-two{
    height: 651px;
    width: 445px;
    border: solid 1px black;
    background-image: url(../images/2.webp);
    background-size: cover;
    background-position: center;

}
.img-two:hover{
    background-image: url(../images/2b.webp);
}
 
/* card 3 */
.img-three{
    height: 651px;
    width: 445px;
    border: solid 1px black;
    background-image: url(../images/3.webp);
    background-size: cover;
    background-position: center;

}
.img-three:hover{
    background-image: url(../images/3b.webp);
}

/* card 4 */
.img-four{
    height: 651px;
    width: 445px;
    border: solid 1px black;
    background-image: url(../images/4.webp);
    background-size: cover;
    background-position: center;

}
.img-four:hover{
    background-image: url(../images/4b.webp);
}

/* card 5 */

.img-five{
    height: 651px;
    width: 445px;
    border: solid 1px black;
    background-image: url(../images/5.webp);
    background-size: cover;
    background-position: center;

}
.img-five:hover{
    background-image: url(../images/5b.webp);
}
/* card 6 */

.img-six{
    height: 651px;
    width: 445px;
    border: solid 1px black;
    background-image: url(../images/6.webp);
    background-size: cover;
    background-position: center;

}
.img-six:hover{
    background-image: url(../images/6b.webp);
}